* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;


}

.banner {
    display: flex;
    align-items: center;

}

.title {
    margin-bottom: 24px;
    font-weight: 700px;
    font-size: 65px;
    color: #151414;
    line-height: 76px;


}

.sub-title {
    margin-bottom: 30px;
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
    line-height: 26px;


}

.image-text {
    position: absolute;
    text-align: right;
    margin-top: 216px;
    
    margin-left: 1100px;
}

main {
    max-width: 1072px;
    margin: 0 auto;


}

.person {
    margin-top: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 130px;


}

.my-title {
    text-align: left;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    line-height: 47px;
    margin-left: 48px;
}

.description {
    text-align: left;
    margin-left: 48px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;

}

.box-2 {
    margin-left: 87px;
    text-align: left;
}

.points {
    font-weight: 400;
    font-size: 16px;

    color: #444343;
    list-style: none;
}


.fa-solid {
    color: #16D887;
    margin: 8px;
}


/* what i do */

.box-3 {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 124px;

}



.plans-container {
    display: flex;
    justify-content: space-around;


}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 49px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-top: 30px;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

.bottom-box {
    position: relative;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;

}




.box-4-text {
    position: absolute;
    top: 0;
    margin-top: 59px;
    margin-left: 64px;
    margin-bottom: 24;
    font-weight: 700;
    font-size: 40px;

    color: #FFFFFF;
}

.btn-2nd {
    color: #F15B2F;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    background: #FFFFFF;
    border-radius:10px;
    margin-top: 24px;
}

.contract .Future-title {
    text-align: left;
    
    

}

.contract-1 {
    display: flex;
    gap: 331px;
    color: #FFFFFF;
    margin-left: 420px;
    
}


.Future-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
}

.Future-para {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.Future-mail {
    font-weight: 400;
    font-size: 16px;
   border: 0;
    margin-bottom: 16px;
    margin-top: 24px;
}

.Future-phone {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.Subscribe-title{
    font-weight: 600;
font-size: 25px;
margin-top: 130px;
margin-bottom: 31px;
}
input{
    height: 64px;
    width: 325px;
    border-radius: 8px;
}
footer{
    background: #151414;
    margin-top: 130px;
}

.icon{
    margin-bottom: 130px;
    display: flex;
    gap: 17px;
}

.Subscribe{
    margin-right: 420px;
}
.banner{
    background-image: url('../images/banner/banner2.png');
}